<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="container">
  <ion-card  no-margin >
    <img id="items" src="assets/image/Banana.png">
    <ion-card-content>
      <p>A banana is an elongated, edible fruit – botanically a berry – produced by several kinds of large herbaceous flowering plants in the genus Musa. In some countries, bananas used for cooking may be called "plantains", distinguishing them from dessert bananas</p>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>