#size{
    width: 450px;
    height: 150px;
}

#logo{
    width: 115px;
    padding: 10px;
}

P{
   padding-right: 50px;
    text-align: right;
}

h2{
    font-weight: bold;
    padding-left: 5%;
    padding-top: 20px;
    color: black;
}

ion-title{
    font-weight: bold;
    padding-top: 0%;
    text-align: center;
    color: black;
}

.logobg {
    background-color: #7EDB7C;
    color: white;
    margin: 20px;
}




ion-card-content{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

#card-1{
    width:150px;
    height: auto;
}

#card-1 img{
    height:98px;
    width: 200px;
}

#card-2{
    width:150px;
    height: auto;
}

#card-2 img{
    height:131px;
    width: 200px;
}

#card-3{
    width:150px;
    height: auto;
}

#card-3 img{
    height:110px;
    width: 200px;
}

#card-4{
    width:150px;
    height: auto;
}

#card-4 img{
    height:100px;
    width: 200px;
}

#card-5{
    width:150px;
    height: auto;
}

#card-5 img{
    height:108px;
    width: 200px;
}

#card-6{
    width:150px;
    height: auto;
}

#card-6 img{
    height:110px;
    width: 200px;
}

#card-7{
    width:150px;
    height: auto;
}

#card-7 img{
    height:98px;
    width: 200px;
}

#price{
    color: #7EDB7C;
}
